.navigation{
    
    background-color: #e07a5f;
    overflow: hidden;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
}

.navigation a{
    float: left;
    color: white;
    display: block;
    text-align: center;
    padding: 16px 50px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigation a:hover{
    background-color: #f1d4d4;
    color: #bc6c25;
}

.navigation .Clyde-Logo {
    position: absolute; /* Position the logo absolutely */
    top: 10%; /* Align the logo to the top of the navigation bar */
    left: 50%; /* Align the logo horizontally to the center */
    transform: translateX(-50%); /* Adjust to center the logo horizontally */
    width: 150px;
    height: 150px;
}

/*.profile{
    padding: 5px;
    width: 500px;
    float: right;
    margin-right: 55%;
    margin-bottom: 25%;
}



.desc{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 15%;
    margin-left: 45%;
    
}*/

.name{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 5%;
    font-weight: bold;
    color: #e07a5f;
    text-align: center;
}

.featured {
    display: flex;
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    flex-direction: column; /* Stack items vertically */
}

.profile {
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
    /* You might also want to add margin or padding if necessary */
}

.desc {
    font-size: 20px;
    text-align: center; /* Center text within the description */
    padding: 0 20px; /* Add padding to the description if needed */
    margin-right: 15%;
    margin-left: 15%;
}
